h3 Analysis




.container-fluid(ng-controller='NewFlotChartController')
  .panel.panel-default
    .panel-heading Choose your Analysis
    .panel-body
      form.form-inline.mt-lg
        select.form-control(ng-model='renderer0', ng-options='renderer.name for renderer in renderers', ng-change='rendererChanged(0)')

  .panel.panel-default
    .panel-body
      .row.mb-lg
        .col-lg-
          h4 {{analysisName}} Chart 
          div
            flot(dataset='analysisData', options='abarOptions', height="250px")        
