h3 Analysis

.container-fluid(ng-controller='NewFlotChartController')
  .row.mb-lg
    .col-lg-
      h4 Accelero Meter Chart 
      div
        flot(dataset='newacceleroMeterData', options='abarOptions', height="250px")        
  .row.mb-lg
    .col-lg-
      h4 Orientation Chart 
      div
        flot(dataset='neworientationData', options='abarOptions', height="250px")        
  .row.mb-lg
    .col-lg-
      h4 Position Chart 
      div
        flot(dataset='newpositionData', options='abarOptions', height="250px")        
  .row.mb-lg
    .col-lg-
      h4 Velocity Chart 
      div
        flot(dataset='newvelocityData', options='abarOptions', height="250px")        
  .row.mb-lg
    .col-lg-
      h4 Acceleration Chart 
      div
        flot(dataset='newaccelerationData', options='abarOptions', height="250px") 